.bubbleControls{
	margin-top:120px;
}
.bubble{
	padding: 5px 10px;
    margin-top: 40px;
    border-radius: 16px;
    position: absolute;
    transition: linear 0.5s;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
}
.hide{
	display:none;
}